    <h2 class="blog-post-title"><%= @blog.title %></h2>
    <p class="blog-post-meta">
      <%= time_ago_in_words(@blog.created_at) %> ago
    </p>
    <p>
      <%= @blog.source %>
    </p>
    <hr>
    <%= @blog.body %>
    <p>
    <nav class="blog-pagination">
    <%= link_to 'Назад', blogs_path, class: "btn btn-outline-primary" %>
    </nav>
  </p>
