<%= year %> Владимир Казанцев
<span class="fa-lg">
  <a href="#"><%= fa_stacked_icon "github inverse", base: "circle" %></a>
  <a href="#"><%= fa_stacked_icon "facebook inverse", base: "circle" %></a>
  <a href="#"><%= fa_stacked_icon "twitter inverse", base: "circle" %></a>
  <a href="#"><%= fa_stacked_icon "vk inverse", base: "circle" %></a>
  <a href="#"><%= fa_stacked_icon "telegram inverse", base: "circle" %></a>
  <a href="#"><%= fa_stacked_icon "skype inverse", base: "circle" %></a>
</span>
