<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/swiper.min.css"
    <title>Портфолио</title>
  </head>
  <body>
    <script src="path/to/swiper.min.js"></script>
    <div class="swiper-container">
    <%= render 'shared/nav_bar' %>
    <main role="main">
      <div class="album py-5">
        <div class="container">
          <div class="row">
            <%= render @portfolios %>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer bg-dark">
      <%= render 'shared/footer' %>
    </footer>
  </div>
  </body>
</html>
