<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Блог</title>
  </head>

  <body>
    <%= render 'shared/nav_bar' %>
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <div class="blog-post">
              <%= yield %>
            </div>
          </div>
          <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Блоги</h4>
            <p class="mb-0">В разделе блогов публикую свои переводы статей, которые мне показались интересными. Приоритет - Ruby on Rails и Ruby. Планирую добавлять по одной статье каждую неделю.</p>
            </div>
            <div class="p-3">
            <h4 class="font-italic">Архив блогов</h4>
            <ol class="list-unstyled mb-0">
              <li><a href="#"><%= month_human_name(1.month.ago.month) %> <%= 1.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(2.month.ago.month) %> <%= 2.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(3.month.ago.month) %> <%= 3.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(4.month.ago.month) %> <%= 4.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(5.month.ago.month) %> <%= 5.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(6.month.ago.month) %> <%= 6.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(7.month.ago.month) %> <%= 7.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(8.month.ago.month) %> <%= 8.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(9.month.ago.month) %> <%= 9.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(10.month.ago.month) %> <%= 10.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(11.month.ago.month) %> <%= 11.month.ago.year %></a></li>
              <li><a href="#"><%= month_human_name(12.month.ago.month) %> <%= 12.month.ago.year %></a></li>
            </ol>
            </div>
            <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Первоисточник</h4>
            <p class="mb-0">Под заголовком каждого блога указан источник с именем автора и ссылкой на страницу с исходным текстом.</p>
            </div>
          </aside><!-- /.blog-sidebar -->
          </div><!-- /.row -->
        </div>
      </main><!-- /.container -->

    <footer class="footer bg-dark">
        <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
