<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Обо мне</title>
  </head>
  <body class="home">
    <%= render 'shared/nav_bar' %>
    <div id="background"></div>
    <div class="cover-container d-flex justify-content-center h-100 p-3 mx-auto flex-column">
      <main role="main" class="inner cover">
        <%= yield %>
      </main>
    </div>
    <footer class="footer bg-dark">
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
